<html>
<head>
    <meta charset="utf-8">
    <title>网站后台管理中心- Powered by 74cms.com</title>
    <link rel="shortcut icon" href="/74cms/74cms_v4.2.111/upload/favicon.ico"/>
</head>
<frameset rows="60,*" frameborder="no" border="0" framespacing="0">
    <frame src="/tiaotop" name="topFrame" id="topFrame" scrolling="no" frameborder="NO" border="0"
           framespacing="0">
    <frameset cols="200,*" name="bodyFrame" id="bodyFrame" frameborder="no" border="0" framespacing="0">
        <frame th:src="@{/tiaocontentleft}" name="leftFrame" frameborder="no" scrolling="no" noresize id="leftFrame">
        <frame src="/tiaocontentcenter" name="mainFrame" frameborder="no" scrolling="auto" noresize id="mainFrame">
    </frameset>
</frameset>
</html>