<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lingyun.manager_cms.dao.cmsdao.PaymentMapper" >
  <resultMap id="BaseResultMap" type="com.lingyun.framework.domain.Payment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="listorder" property="listorder" jdbcType="INTEGER" />
    <result column="typename" property="typename" jdbcType="VARCHAR" />
    <result column="byname" property="byname" jdbcType="VARCHAR" />
    <result column="p_introduction" property="pIntroduction" jdbcType="VARCHAR" />
    <result column="partnerid" property="partnerid" jdbcType="VARCHAR" />
    <result column="ytauthkey" property="ytauthkey" jdbcType="VARCHAR" />
    <result column="fee" property="fee" jdbcType="VARCHAR" />
    <result column="parameter1" property="parameter1" jdbcType="VARCHAR" />
    <result column="parameter2" property="parameter2" jdbcType="VARCHAR" />
    <result column="parameter3" property="parameter3" jdbcType="VARCHAR" />
    <result column="p_install" property="pInstall" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.lingyun.framework.domain.Payment" extends="BaseResultMap" >
    <result column="notes" property="notes" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, listorder, typename, byname, p_introduction, partnerid, ytauthkey, fee, parameter1, 
    parameter2, parameter3, p_install
  </sql>
  <sql id="Blob_Column_List" >
    notes
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from qs_payment
    where id = #{id,jdbcType=INTEGER}
  </select>
 <select id="querypayment" resultMap="ResultMapWithBLOBs">
    select * from qs_payment
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qs_payment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lingyun.framework.domain.Payment" >
    insert into qs_payment (id, listorder, typename, 
      byname, p_introduction, partnerid, 
      ytauthkey, fee, parameter1, 
      parameter2, parameter3, p_install, 
      notes)
    values (#{id,jdbcType=INTEGER}, #{listorder,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR}, 
      #{byname,jdbcType=VARCHAR}, #{pIntroduction,jdbcType=VARCHAR}, #{partnerid,jdbcType=VARCHAR}, 
      #{ytauthkey,jdbcType=VARCHAR}, #{fee,jdbcType=VARCHAR}, #{parameter1,jdbcType=VARCHAR}, 
      #{parameter2,jdbcType=VARCHAR}, #{parameter3,jdbcType=VARCHAR}, #{pInstall,jdbcType=TINYINT}, 
      #{notes,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lingyun.framework.domain.Payment" >
    insert into qs_payment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="listorder != null" >
        listorder,
      </if>
      <if test="typename != null" >
        typename,
      </if>
      <if test="byname != null" >
        byname,
      </if>
      <if test="pIntroduction != null" >
        p_introduction,
      </if>
      <if test="partnerid != null" >
        partnerid,
      </if>
      <if test="ytauthkey != null" >
        ytauthkey,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="parameter1 != null" >
        parameter1,
      </if>
      <if test="parameter2 != null" >
        parameter2,
      </if>
      <if test="parameter3 != null" >
        parameter3,
      </if>
      <if test="pInstall != null" >
        p_install,
      </if>
      <if test="notes != null" >
        notes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="listorder != null" >
        #{listorder,jdbcType=INTEGER},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="byname != null" >
        #{byname,jdbcType=VARCHAR},
      </if>
      <if test="pIntroduction != null" >
        #{pIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="partnerid != null" >
        #{partnerid,jdbcType=VARCHAR},
      </if>
      <if test="ytauthkey != null" >
        #{ytauthkey,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=VARCHAR},
      </if>
      <if test="parameter1 != null" >
        #{parameter1,jdbcType=VARCHAR},
      </if>
      <if test="parameter2 != null" >
        #{parameter2,jdbcType=VARCHAR},
      </if>
      <if test="parameter3 != null" >
        #{parameter3,jdbcType=VARCHAR},
      </if>
      <if test="pInstall != null" >
        #{pInstall,jdbcType=TINYINT},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lingyun.framework.domain.Payment" >
    update qs_payment
    <set >
      <if test="listorder != null" >
        listorder = #{listorder,jdbcType=INTEGER},
      </if>
      <if test="typename != null" >
        typename = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="byname != null" >
        byname = #{byname,jdbcType=VARCHAR},
      </if>
      <if test="pIntroduction != null" >
        p_introduction = #{pIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="partnerid != null" >
        partnerid = #{partnerid,jdbcType=VARCHAR},
      </if>
      <if test="ytauthkey != null" >
        ytauthkey = #{ytauthkey,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=VARCHAR},
      </if>
      <if test="parameter1 != null" >
        parameter1 = #{parameter1,jdbcType=VARCHAR},
      </if>
      <if test="parameter2 != null" >
        parameter2 = #{parameter2,jdbcType=VARCHAR},
      </if>
      <if test="parameter3 != null" >
        parameter3 = #{parameter3,jdbcType=VARCHAR},
      </if>
      <if test="pInstall != null" >
        p_install = #{pInstall,jdbcType=TINYINT},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lingyun.framework.domain.Payment" >
    update qs_payment
    set listorder = #{listorder,jdbcType=INTEGER},
      typename = #{typename,jdbcType=VARCHAR},
      byname = #{byname,jdbcType=VARCHAR},
      p_introduction = #{pIntroduction,jdbcType=VARCHAR},
      partnerid = #{partnerid,jdbcType=VARCHAR},
      ytauthkey = #{ytauthkey,jdbcType=VARCHAR},
      fee = #{fee,jdbcType=VARCHAR},
      parameter1 = #{parameter1,jdbcType=VARCHAR},
      parameter2 = #{parameter2,jdbcType=VARCHAR},
      parameter3 = #{parameter3,jdbcType=VARCHAR},
      p_install = #{pInstall,jdbcType=TINYINT},
      notes = #{notes,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lingyun.framework.domain.Payment" >
    update qs_payment
    set listorder = #{listorder,jdbcType=INTEGER},
      typename = #{typename,jdbcType=VARCHAR},
      byname = #{byname,jdbcType=VARCHAR},
      p_introduction = #{pIntroduction,jdbcType=VARCHAR},
      partnerid = #{partnerid,jdbcType=VARCHAR},
      ytauthkey = #{ytauthkey,jdbcType=VARCHAR},
      fee = #{fee,jdbcType=VARCHAR},
      parameter1 = #{parameter1,jdbcType=VARCHAR},
      parameter2 = #{parameter2,jdbcType=VARCHAR},
      parameter3 = #{parameter3,jdbcType=VARCHAR},
      p_install = #{pInstall,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>