<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>招聘会-骑士人才招聘网</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="骑士CMS"/>
    <meta name="copyright" content="74cms.com"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <script src="./upload/Application/Home/View/default/public/js/jquery.min.js"></script>
    <script src="./upload/Application/Home/View/default/public/js/htmlspecialchars.js"></script>
    <script src="./static/tools/gt.js"></script>
    <script type="text/javascript">
        var app_spell = "1";
        var qscms = {
            base : "",
            keyUrlencode:"1",
            domain : "http://www.tywangcai.com",
            root : "/index.php",
            companyRepeat:"1",
            regularMobile: /^13[0-9]{9}$|14[0-9]{9}$|15[0-9]{9}$|18[0-9]{9}$|17[0-9]{9}$|16[0-9]{9}$|19[0-9]{9}$/,
            is_subsite : 0,
            subsite_level : "4",
            smsTatus: "1",
            captcha_open:"1",
            varify_mobile:"1",
            varify_suggest:"0",
            varify_user_login:"0",
            is_login:"0",
            default_district : "22.288",
            default_district_spell : "chongqing.zhongqingshi"
        };
        $(function(){
            $.getJSON("/home/ajax_common/get_header_min.html",function(result){
                if(result.status == 1){
                    $('#J_header').html(result.data.html);
                }
            });
        })
    </script>
    <link href="upload/Application/Home/View/default/public/css/common.css" rel="stylesheet" type="text/css" />
    <link href="upload/Application/Seniorjobfair/View/default/public/css/jobfair.css" rel="stylesheet" type="text/css" />
    <script src="./upload/Application/Home/View/default/public/js/jquery.common.js" type="text/javascript" language="javascript"></script>
</head>
<body>
<div class="header_min" id="header">
    <div class="header_min_top">
        <div id="J_header" class="itopl font_gray6 link_gray6">
            <span class="link_yellow">欢迎登录骑士人才招聘网！请 <a id="J_site_login" href="javascript:;">登录</a> 或 <a id="J_site_reg" href="javascript:;">免费注册</a></span>
        </div>
        <div class="itopr font_gray9 link_gray6 substring new"> <a href="/" class="home">网站首页</a>|<a href="/home/m/index.html" class="m">手机访问</a>|<a href="/help.html" class="help">帮助中心</a>|<a href="/mall.html" class="shop">积分商城</a>|<a href="/subject.html" class="career new">专题<img style="right:-7px;" src="./upload/Application/Home/View/default/public/images/xin.png"></a>|<a href="/index.php?m=career&c=index&a=index" class="last new">事业单位招考<img src="./upload/Application/Home/View/default/public/images/xin.png"></a></div>
        <div class="clear"></div>
    </div>
</div>
<div class="other_top_nav">
    <div class="ot_nav_box">
        <div class="ot_nav_logo"><a href="/"><img src="http://www.tywangcai.com/data/upload/resource/logo_home.gif" border="0"/></a></div>
        <div class="ot_nav_sub">
        </div>
        <div class="ot_nav_link ">
            <ul class="link_gray6 nowrap">
                <li class="on_li J_hoverbut "><a  href="/home/index/index.html" target="_self">首  页</a></li><li class="on_li J_hoverbut "><a  href="/home/jobs/jobs_list.html" target="">找工作</a></li><li class="on_li J_hoverbut "><a  href="/home/resume/resume_list.html" target="">招人才</a></li><li class="on_li J_hoverbut "><a  href="/news.html" target="">职场资讯</a></li><li class="on_li J_hoverbut "><a  href="/hrtools.html" target="_self">HR工具箱</a></li><li class="on_li J_hoverbut "><a  href="http://www.51lianzhi.cn" target="">云端职位</a></li><li class="on_li J_hoverbut select"><a  href="/index.php?m=seniorjobfair&c=index&a=index" target="_self">招聘会</a></li><li class="on_li J_hoverbut "><a class="new" href="/index.php?m=interview&c=index&a=index" target="_self">企业专访<img src="./upload/Application/Home/View/default/public/images/xin.png"></a></li>            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript" src="./upload/Application/Home/View/default/public/js/jquery.modal.dialog.js"></script>
<div class="jobfair_index_banner">
    <div class="main">
        <div class="new"></div>
        <div class="tit link_gray6"><a href="/seniorjobfair/25.html">ktdrtrhgr</a></div>
        <div class="txt substring">举办时间：2019年03月30日</div>
        <div class="txt substring">举办地点：gser gse</div>
        <div class="txt substring">联系电话：13652101256</div>
        <div class="btn">
            <a class="end">已停止预订</a>			<a href="/index.php?m=seniorjobfair&c=index&a=jobfair_com&id=25" class="com">参会企业</a>
        </div>
    </div></div>
<div class="jobfairlist">
    <div id="j_list">
        <div class="list">
            <div class="state end"></div>
            <div class="td1">
                <div class="imgbox"><img src="./upload/data/upload/jobfair/19/03/29/5c9d7801cba05.jpg" border="0"/></div>
            </div>
            <div class="td2">
                <div class="tit substring link_gray6"><a href="/seniorjobfair/25.html">ktdrtrhgr</a></div>
                <div class="txt substring">举办时间：2019年03月30日</div>
                <div class="txt substring">举办地点：gser gse</div>
                <div class="txt substring">联系电话：13652101256</div>
            </div>
            <div class="td3">
                <a href="javascript:;" class="btn_disabled">停止预订</a>
                <a href="/index.php?m=seniorjobfair&c=index&a=jobfair_com&id=25" class="com">参会企业</a>
            </div>
            <div class="clear"></div>
        </div><div class="list">
        <div class="state end"></div>
        <div class="td1">
            <div class="imgbox"><img src="./upload/data/upload/jobfair/18/10/16/5bc539541d8aa.jpg" border="0"/></div>
        </div>
        <div class="td2">
            <div class="tit substring link_gray6"><a href="/seniorjobfair/24.html">铜仁•苏州就业扶贫对口帮扶专场招聘会</a></div>
            <div class="txt substring">举办时间：2019年03月22日</div>
            <div class="txt substring">举办地点：铜仁市人力资源市场</div>
            <div class="txt substring">联系电话：1369854125</div>
        </div>
        <div class="td3">
            <a href="javascript:;" class="btn_disabled">停止预订</a>
            <a href="/index.php?m=seniorjobfair&c=index&a=jobfair_com&id=24" class="com">参会企业</a>
        </div>
        <div class="clear"></div>
    </div><div class="list">
        <div class="state end"></div>
        <div class="td1">
            <div class="imgbox"><img src="./upload/data/upload/jobfair/18/03/13/5aa7957b30459.jpg" border="0"/></div>
        </div>
        <div class="td2">
            <div class="tit substring link_gray6"><a href="/seniorjobfair/23.html">2019年兰州市人力资源市场每周日精准招聘会（3月13日）...</a></div>
            <div class="txt substring">举办时间：2019年03月13日</div>
            <div class="txt substring">举办地点：兰州市城关区南关十字民安大厦一楼</div>
            <div class="txt substring">联系电话：0931-4549050</div>
        </div>
        <div class="td3">
            <a href="javascript:;" class="btn_disabled">停止预订</a>
            <a href="/index.php?m=seniorjobfair&c=index&a=jobfair_com&id=23" class="com">参会企业</a>
        </div>
        <div class="clear"></div>
    </div>	</div>
    <div class="more" page="2">更多</div>
</div>
<div class="footer_min" id="footer">
    <div class="links link_gray6">
        <a target="_blank" href="/home/index/index.html">网站首页</a>
        |   <a target="_blank" href="/explain/5.html">法律申明</a>|   <a target="_blank" href="/explain/8.html">招贤纳士</a>|   <a target="_blank" href="/explain/7.html">联系我们</a>|   <a target="_blank" href="/explain/6.html">推广合作</a>|   <a target="_blank" href="/explain/4.html">产品服务</a>|   <a target="_blank" href="/explain/1.html">网站介绍</a>	|   <a target="_blank" href="/suggest.html">意见建议</a>
    </div>
    <div class="txt">

        联系地址：山西省太原市小店区学府街坞城路口学府壹号2011室      联系电话：0351-5257204<br />

        Copyright © 2018 74cms.com All Right Reserved      icp000000000		<script src="https://s22.cnzz.com/z_stat.php?id=1263726288&web_id=1263726288" language="JavaScript"></script>
    </div>
</div>

<div class="">
    <div class=""></div>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="./upload/Application/Home/View/default/public/js/PIE.js"></script>
<script type="text/javascript">
    (function($){
        $.pie = function(name, v){
            // 如果没有加载 PIE 则直接终止
            if (! PIE) return false;
            // 是否 jQuery 对象或者选择器名称
            var obj = typeof name == 'object' ? name : $(name);
            // 指定运行插件的 IE 浏览器版本
            var version = 9;
            // 未指定则默认使用 ie10 以下全兼容模式
            if (typeof v != 'number' && v < 9) {
                version = v;
            }
            // 可对指定的多个 jQuery 对象进行样式兼容
            if ($.browser.msie && obj.size() > 0) {
                if ($.browser.version*1 <= version*1) {
                    obj.each(function(){
                        PIE.attach(this);
                    });
                }
            }
        }
    })(jQuery);
    if ($.browser.msie) {
        $.pie('.pie_about');
    };
</script>
<![endif]-->
<script type="text/javascript" src="./upload/Application/Home/View/default/public/js/jquery.disappear.tooltip.js"></script>
<div class="floatmenu">
    <div class="item mobile">
        <a class="blk"></a>
        <div class="popover popover1">
            <div class="popover-bd">
                <label>手机APP</label>
                <span class="img-qrcode img-qrcode-mobile"><img src="/index.php?m=Home&c=Qrcode&a=index&url=http%3A%2F%2Fwww.tywangcai.com%2Fmobile%2Findex%2Fapp_download.html" alt=""></span>
            </div>
        </div>    <div class="popover">
        <div class="popover-bd">
            <label class="wx">企业微信</label>
            <span class="img-qrcode img-qrcode-wechat"><img src="http://www.tywangcai.com/data/upload/resource/18/03/30/5abdb8c01dc9e.jpg" alt=""></span>
        </div>
        <div class="popover-arr"></div>
    </div>  </div>  <div class="item ask">
    <a class="blk" target="_blank" href="/suggest.html"></a>
</div>
    <div id="backtop" class="item backtop" style="display: none;"><a class="blk"></a></div>
</div>
<SCRIPT LANGUAGE="JavaScript">

    var global = {
        h:$(window).height(),
        st: $(window).scrollTop(),
        backTop:function(){
            global.st > (global.h*0.5) ? $("#backtop").show() : $("#backtop").hide();
        }
    }
    $('#backtop').on('click',function(){
        $("html,body").animate({"scrollTop":0},500);
    });
    global.backTop();
    $(window).scroll(function(){
        global.h = $(window).height();
        global.st = $(window).scrollTop();
        global.backTop();
    });
    $(window).resize(function(){
        global.h = $(window).height();
        global.st = $(window).scrollTop();
        global.backTop();
    });
    // 客服QQ
    var app_qq = "在线客服";
    var qq_open = "1";
    if(app_qq != '' && qq_open == 1){
        var QQFloatUrl = "/qqfloat/index/index.html";
        $.getJSON(QQFloatUrl, function (result) {
            if (result.status == 1) {
                //$(".qq-float").html(result.data);
                $("body").append(result.data);
            }
        });
    }
</SCRIPT>
<script type="text/javascript">
    $(document).ready(function(){
        $(".more").click(function(){
            $(".more").html('加载中...');
            var page = $(this).attr('page');
            $.getJSON("/index.php?m=seniorjobfair&c=index&a=ajax_jobfair_list",{page:page},function(result){
                if(result.status==1){
                    $("#j_list").append(result.data);
                    $(".more").attr('page',parseInt(page)+1);
                }else{
                    $(".more").html('没有更多招聘会了');
                }
            });
        });
    });
</script>
</body>
</html>