
<!-- public:header 以下内容 -->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>网站后台管理中心- Powered by 74cms.com</title>
    <link rel="shortcut icon" href="../cms/74cms/74cms_v4.2.111/upload/favicon.ico"/>
    <meta name="author" content="骑士CMS" />
    <meta name="copyright" content="74cms.com" />
    <link href="../cms/74cms/74cms_v4.2.111/upload/Application/Admin/View/default/public/css/common.css" rel="stylesheet" type="text/css">
    <script src="../cms/74cms/74cms_v4.2.111/upload/Application/Admin/View/default/public/js/jquery.min.js"></script>
    <script src="../cms/74cms/74cms_v4.2.111/upload/Application/Admin/View/default/public/js/jquery.highlight-3.js"></script>
    <script src="../cms/74cms/74cms_v4.2.111/upload/Application/Admin/View/default/public/js/jquery.vtip-min.js"></script>
    <script src="../cms/74cms/74cms_v4.2.111/upload/Application/Admin/View/default/public/js/jquery.modal.dialog.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../cms/74cms/74cms_v4.2.111/upload/Application/Admin/View/default/public/js/PIE.js"></script>
    <script type="text/javascript">
        (function ($) {
            $.pie = function (name, v) {
                // 如果没有加载 PIE 则直接终止
                if (!PIE) return false;
                // 是否 jQuery 对象或者选择器名称
                var obj = typeof name == 'object' ? name : $(name);
                // 指定运行插件的 IE 浏览器版本
                var version = 9;
                // 未指定则默认使用 ie10 以下全兼容模式
                if (typeof v != 'number' && v < 9) {
                    version = v;
                }
                // 可对指定的多个 jQuery 对象进行样式兼容
                if ($.browser.msie && obj.size() > 0) {
                    if ($.browser.version * 1 <= version * 1) {
                        obj.each(function () {
                            PIE.attach(this);
                        });
                    }
                }
            }
        })(jQuery);
        if ($.browser.msie) {
            $.pie('.pie_about');
        };
    </script>
    <![endif]-->
    <script src="../cms/74cms/74cms_v4.2.111/upload/Application/Admin/View/default/public/js/jquery.disappear.tooltip.js"></script>
    <script src="../cms/74cms/74cms_v4.2.111/upload/Application/Admin/View/default/public/js/common.js"></script>
    <script>
        var URL = '/74cms_v4.2.111/upload/index.php/admin/payment',
            SELF = '/74cms_v4.2.111/upload/index.php?m=admin&amp;c=payment&amp;a=edit&amp;id=1&amp;typename=alipay',
            ROOT_PATH = '/74cms_v4.2.111/upload/index.php/admin',
            APP	 =	 '/74cms_v4.2.111/upload/index.php';

        var qscms = {
            is_subsite : 0,
            subsite_level : "3",
            default_district : ""
        };
    </script>
</head>
<body>

<!-- public:header 以上内容 -->
<div class="allpagetop">工具<strong>/</strong>支付方式</div><div class="mains">
    <div class="h1tit">
        <div class="h1">
            支付方式                        </div>
        <div class="clear"></div>
    </div>
    <div class="toptip">
        <div class="toptit">提示：</div>
        <p>安装在线支付插件需申请对应在线支付服务公司的服务账户。</p>
    </div>
    <div class="toptit">编辑支付方式</div>
    <form action="/74cms_v4.2.111/upload/index.php?m=admin&c=payment&a=edit" method="post" name="form1" id="form1">
        <div class="form_main width200">
            <div class="fl">插件名称：</div>
            <div class="fr txt" style="color: #0066CC">
                <input name="id" type="hidden" value="1" />
                <input name="p_install" type="hidden" value="2" />
                <strong>支付宝</strong>
            </div>
            <div class="fl">简短描述：</div>
            <div class="fr">
                <input name="p_introduction" type="text" maxlength="40" class="input_text_default" value="全球领先的独立第三方支付平台"/>
            </div>        <div class="fl">详细描述：</div>
            <div class="fr">
                <textarea id="editor_id" class="input_text_default" style="width:700px;height: 250px;" name="bkintro">支付宝，全球领先的独立第三方支付平台，致力于为广大用户提供安全快速的电子支付/网上支付/安全支付/手机支付体验，及转账收款/水电煤缴费/信用卡还款/AA收款等生活服务应用</textarea >
            </div>        <div class="fl">合作者身份(Partner ID)：</div>
            <div class="fr">
                <input name="partnerid" type="text" maxlength="40" class="input_text_default" value=""/>
            </div>        <div class="fl">安全校验码(Key)：</div>
            <div class="fr">
                <input name="ytauthkey" type="text" maxlength="40" class="input_text_default" value=""/>
            </div>        <div class="fl">支付宝帐号：</div>
            <div class="fr">
                <input name="parameter1" type="text" maxlength="40" class="input_text_default" value=""/>
            </div>                        <div class="fl">显示顺序：</div>
            <div class="fr">
                <input name="listorder" type="text" maxlength="40" class="input_text_default" value="50"/>
            </div>
            <div class="fl"></div>
            <div class="fr">
                <input name="submit" type="submit" class="admin_submit" value="提交"/>
                <input name="submit222" type="button" class="admin_submit" value="返回列表" onclick="Javascript:window.history.go(-1)"/>
            </div>
            <div class="clear"></div>
        </div>
    </form>
</div>
<!-- public:footer 以下内容 -->
<div class="footer link_blue">
    Powered by <a href="http://www.74cms.com" target="_blank"><span style="color:#009900">74</span><span
        style="color: #FF3300">cms</span></a> v4.2.111</div>
<!-- public:footer 以上内容 -->
<link rel="stylesheet" href="../cms/74cms/74cms_v4.2.111/upload/Application/Admin/View/default/public/js/kindeditor-4.1.7/themes/default/default.css">

<script type="text/javascript">
    $.getScript('../cms/74cms/74cms_v4.2.111/upload/Application/Admin/View/default/public/js/kindeditor-4.1.7/kindeditor-all-min.js',
        function() {
            KindEditor.basePath = '../cms/74cms/74cms_v4.2.111/upload/Application/Admin/View/default/public/js/kindeditor-4.1.7/';
            editor = KindEditor.create('#editor_id', {
                cssPath : '../cms/74cms/74cms_v4.2.111/upload/Application/Admin/View/default/public/js/kindeditor-4.1.7/plugins/code/prettify.css',
                uploadJson : '../cms/74cms/74cms_v4.2.111/upload/Application/Admin/View/default/public/js/kindeditor-4.1.7/jsp/upload_json.jsp',
                fileManagerJson : '../cms/74cms/74cms_v4.2.111/upload/Application/Admin/View/default/public/js/kindeditor-4.1.7/jsp/file_manager_json.jsp',
                afterBlur:function(){this.sync();}//和ajax同步
            });
        })
</script>
</body>
</html>